flows_oakes-VirtualBox_backup.json
[{"type":"tab","id":"5d643a40.a29bc4","label":"Sheet 1"},{"type":"tab","id":"d8c7419c.2738c","label":"Sheet 2"},{"type":"tab","id":"97e8e90d.681718","label":"Sheet 3"},{"id":"d70b552.2f016a8","type":"mqlight service","service":"amqp://192.168.1.106:5672","clientid":""},{"id":"832ff3e5.7cd01","type":"mqlight in","name":"AccountsRequest","topic":"Accounts/Request","share":"","service":"d70b552.2f016a8","x":105.5,"y":208,"z":"5d643a40.a29bc4","wires":[["1bff79f0.e40086"]]},{"id":"51e3f9c8.ae1c08","type":"mqlight out","name":"Accounts Response","topic":"Accounts/Response","service":"d70b552.2f016a8","x":850,"y":229,"z":"5d643a40.a29bc4","wires":[]},{"id":"65a17c9c.9a5e84","type":"inject","name":"Test drive the flow","topic":"Test Topic","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":128,"y":64,"z":"5d643a40.a29bc4","wires":[["69bbfb66.964404"]]},{"id":"c7b568e3.384a98","type":"mqlight out","name":"Send to Accounts Request","topic":"Accounts/Request","service":"d70b552.2f016a8","x":780,"y":63,"z":"5d643a40.a29bc4","wires":[]},{"id":"69bbfb66.964404","type":"function","name":"Add accounts","func":"msg.payload = {};\n\nmsg.payload.accounts = [\"1\", \"3\", \"4\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":64,"z":"5d643a40.a29bc4","wires":[["c74bb800.38b448"]]},{"id":"c74bb800.38b448","type":"json","name":"js to json","x":548,"y":64,"z":"5d643a40.a29bc4","wires":[["4d75c89e.b28a38"]]},{"id":"415005d0.beaffc","type":"function","name":"Add details","func":"var accounts = [\n{\"acc_id\":\"0\",\"name\":\"Graham Oakes\",\"sex\":\"m\",\"membersince\":\"2010-01-01\"},\n{\"acc_id\":\"1\",\"name\":\"Jenny Chow\",\"sex\":\"f\",\"membersince\":\"1996-01-21\"},\n{\"acc_id\":\"2\",\"name\":\"Derek Hornby\",\"sex\":\"f\",\"membersince\":\"2001-01-31\"},\n{\"acc_id\":\"3\",\"name\":\"Shobha Rialkar\",\"sex\":\"f\",\"membersince\":\"2008-05-01\"},\n{\"acc_id\":\"4\",\"name\":\"Emily Peyton\",\"sex\":\"f\",\"membersince\":\"2005-10-31\"}];\nvar tmp = [];\n\nfor\t(var index = 0; index < msg.payload.accounts.length; index++) {\n    var acc_id = msg.payload.accounts[index]\n    tmp.push(accounts[acc_id]);\n}\nmsg.payload.accountsReponse = tmp;\n\nnode.log(\"msg = \" + msg.payload);\n\nreturn msg;","outputs":"1","x":474,"y":159,"z":"5d643a40.a29bc4","wires":[["2250a8c3.ddaf58"]]},{"id":"2734ca1c.d8cb36","type":"json","name":"json 2 js","x":340,"y":225,"z":"5d643a40.a29bc4","wires":[["415005d0.beaffc"]]},{"id":"2250a8c3.ddaf58","type":"json","name":"js 2 json","x":591,"y":224,"z":"5d643a40.a29bc4","wires":[["d65574f4.29aa88"]]},{"id":"a92959fd.56d6a8","type":"comment","name":"Test Flow","info":"","x":81,"y":30,"z":"5d643a40.a29bc4","wires":[]},{"id":"ef0e97f8.10f168","type":"comment","name":"Add Account Details Service","info":"","x":119,"y":163,"z":"5d643a40.a29bc4","wires":[]},{"id":"ba8d077b.4572f8","type":"comment","name":"Display the response message","info":"","x":143,"y":344,"z":"5d643a40.a29bc4","wires":[]},{"id":"f85a972d.07a568","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":580,"y":382,"z":"5d643a40.a29bc4","wires":[]},{"id":"85fe55ad.7a01a8","type":"mqlight in","name":"AccountsResponse","topic":"Accounts/Response","share":"","service":"d70b552.2f016a8","x":102,"y":380,"z":"5d643a40.a29bc4","wires":[["4b77c93c.b48838"]]},{"id":"4b77c93c.b48838","type":"json","name":"json 2 js","x":314,"y":381,"z":"5d643a40.a29bc4","wires":[["5e397cdd.a1c684"]]},{"id":"1bff79f0.e40086","type":"function","name":"log","func":"node.log(\"In\");\n\nreturn msg;","outputs":"1","x":223,"y":278,"z":"5d643a40.a29bc4","wires":[["2734ca1c.d8cb36"]]},{"id":"d65574f4.29aa88","type":"function","name":"log","func":"node.log(\"Added details\");\nnode.log(\"msg = \" + msg.payload);\n\nreturn msg;","outputs":"1","x":701,"y":288,"z":"5d643a40.a29bc4","wires":[["51e3f9c8.ae1c08"]]},{"id":"5e397cdd.a1c684","type":"function","name":"log","func":"node.log(\"END\");\n\nreturn msg;","outputs":"1","noerr":0,"x":433,"y":423,"z":"5d643a40.a29bc4","wires":[["f85a972d.07a568"]]},{"id":"4d75c89e.b28a38","type":"function","name":"log","func":"node.log(\"before publish\");\n\nreturn msg;","outputs":"1","noerr":0,"x":717,"y":129,"z":"5d643a40.a29bc4","wires":[["c7b568e3.384a98"]]},{"id":"ae18b0be.51e75","type":"mqlight in","name":"AccountsRequest","topic":"Accounts/Request","share":"","service":"d70b552.2f016a8","x":105.5,"y":212,"z":"d8c7419c.2738c","wires":[["5f6eeed5.a0911"]]},{"id":"99f382f0.660c8","type":"mqlight out","name":"Accounts Response","topic":"Accounts/Response","service":"d70b552.2f016a8","x":925,"y":232,"z":"d8c7419c.2738c","wires":[]},{"id":"c84f1823.37b0e8","type":"inject","name":"Test drive the flow","topic":"Test Topic","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":128,"y":68,"z":"d8c7419c.2738c","wires":[["13c38495.ec3c7b"]]},{"id":"d64ce038.29b32","type":"mqlight out","name":"Send to Accounts Request","topic":"Accounts/Request","service":"d70b552.2f016a8","x":773,"y":59,"z":"d8c7419c.2738c","wires":[]},{"id":"13c38495.ec3c7b","type":"function","name":"Add accounts","func":"msg.payload = {};\n\nmsg.payload.accounts = [\"1\", \"3\", \"4\"];\n\nreturn msg;","outputs":1,"x":315,"y":95,"z":"d8c7419c.2738c","wires":[["abfaf98.f540508"]]},{"id":"abfaf98.f540508","type":"json","name":"js to json","x":482,"y":60,"z":"d8c7419c.2738c","wires":[["b817cb0a.47e838"]]},{"id":"dd82d022.227d3","type":"function","name":"Add details","func":"var accounts = [\n{\"acc_id\":\"0\",\"name\":\"Graham Oakes\",\"sex\":\"m\",\"membersince\":\"2010-01-01\"},\n{\"acc_id\":\"1\",\"name\":\"Jenny Chow\",\"sex\":\"f\",\"membersince\":\"1996-01-21\"},\n{\"acc_id\":\"2\",\"name\":\"Derek Hornby\",\"sex\":\"f\",\"membersince\":\"2001-01-31\"},\n{\"acc_id\":\"3\",\"name\":\"Shobha Rialkar\",\"sex\":\"f\",\"membersince\":\"2008-05-01\"},\n{\"acc_id\":\"4\",\"name\":\"Emily Peyton\",\"sex\":\"f\",\"membersince\":\"2005-10-31\"}];\nvar tmp = [];\n\nfor\t(var index = 0; index < msg.payload.accounts.length; index++) {\n    var acc_id = msg.payload.accounts[index]\n    tmp.push(accounts[acc_id]);\n}\nmsg.payload.accountsReponse = tmp;\n\nnode.log(\"msg = \" + msg.payload);\n\nreturn msg;","outputs":"1","x":527,"y":236,"z":"d8c7419c.2738c","wires":[["3e502dff.c1afd2"]]},{"id":"bcd0e0ff.432f2","type":"json","name":"json 2 js","x":338,"y":213,"z":"d8c7419c.2738c","wires":[["dd82d022.227d3"]]},{"id":"3e502dff.c1afd2","type":"json","name":"js 2 json","x":714,"y":227,"z":"d8c7419c.2738c","wires":[["4a7bff5c.b584"]]},{"id":"da52cc83.25ad3","type":"comment","name":"Test Flow","info":"","x":81,"y":34,"z":"d8c7419c.2738c","wires":[]},{"id":"4c60abad.b39f54","type":"comment","name":"Add Account Details Service","info":"","x":119,"y":167,"z":"d8c7419c.2738c","wires":[]},{"id":"4d502d52.b2afd4","type":"comment","name":"Display the response message","info":"","x":143,"y":348,"z":"d8c7419c.2738c","wires":[]},{"id":"2d63177a.d29ce8","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":580,"y":386,"z":"d8c7419c.2738c","wires":[]},{"id":"a7cf5a9b.5830a8","type":"mqlight in","name":"AccountsResponse","topic":"Accounts/Response","share":"","service":"d70b552.2f016a8","x":102,"y":384,"z":"d8c7419c.2738c","wires":[["c16e66d1.3e9198"]]},{"id":"c16e66d1.3e9198","type":"json","name":"json 2 js","x":314,"y":385,"z":"d8c7419c.2738c","wires":[["bd1b0375.42e5"]]},{"id":"5f6eeed5.a0911","type":"function","name":"log","func":"node.log(\"In\");\n\nreturn msg;","outputs":"1","x":223,"y":282,"z":"d8c7419c.2738c","wires":[["bcd0e0ff.432f2"]]},{"id":"4a7bff5c.b584","type":"function","name":"log","func":"node.log(\"Added details\");\nnode.log(\"msg = \" + msg.payload);\n\nreturn msg;","outputs":"1","x":739,"y":320,"z":"d8c7419c.2738c","wires":[["99f382f0.660c8"]]},{"id":"bd1b0375.42e5","type":"function","name":"log","func":"node.log(\"END\");\n\nreturn msg;","outputs":"1","x":433,"y":427,"z":"d8c7419c.2738c","wires":[["2d63177a.d29ce8"]]},{"id":"b817cb0a.47e838","type":"function","name":"log","func":"node.log(\"before publish\");\n\nreturn msg;","outputs":"1","x":605,"y":114,"z":"d8c7419c.2738c","wires":[["d64ce038.29b32"]]},{"id":"a4bb39d.f5b44c8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 0 * * *","once":false,"x":99,"y":140,"z":"97e8e90d.681718","wires":[["f11f5e54.0ee0a"]]},{"id":"ed104a2b.12efb8","type":"http request","name":"","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":345,"y":309,"z":"97e8e90d.681718","wires":[["82faaf59.7d055"]]},{"id":"82faaf59.7d055","type":"function","name":"","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n\n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\nreturn null;","outputs":"2","noerr":0,"x":475,"y":191,"z":"97e8e90d.681718","wires":[["e4a42557.1b5bd8"],["3a80a399.c57f5c"]]},{"id":"e4a42557.1b5bd8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":672,"y":104,"z":"97e8e90d.681718","wires":[]},{"id":"3a80a399.c57f5c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":715,"y":317,"z":"97e8e90d.681718","wires":[]},{"id":"f11f5e54.0ee0a","type":"function","name":"log","func":"node.log(\"started LOL\");\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":235,"z":"97e8e90d.681718","wires":[["ed104a2b.12efb8"]]}]