flows.json
[{"id":"d70b552.2f016a8","type":"mqlight service","service":"amqp://192.168.56.101:5672","clientid":""},{"id":"e77e3088.fbe51","type":"mqlight in","name":"AccountsRequest","topic":"zAccounts/Request","share":"","service":"d70b552.2f016a8","x":105.5,"y":198,"z":"78c542dc.9f088c","wires":[["183b54da.bef7e3"]]},{"id":"3315a53a.c85822","type":"mqlight out","name":"Accounts Response","topic":"Accounts/Response","service":"d70b552.2f016a8","x":925,"y":218,"z":"78c542dc.9f088c","wires":[]},{"id":"17c56b80.863b7d","type":"inject","name":"Test drive the flow","topic":"Test Topic","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":128,"y":54,"z":"78c542dc.9f088c","wires":[["86e8a365.52a548"]]},{"id":"6fe4a033.840168","type":"mqlight out","name":"Send to Accounts Request","topic":"Accounts/Request","service":"d70b552.2f016a8","x":780,"y":53,"z":"78c542dc.9f088c","wires":[]},{"id":"86e8a365.52a548","type":"function","name":"Add accounts","func":"msg.payload = {};\n\nmsg.payload.accounts = [\"1\", \"2\", \"4\"];\n\nreturn msg;","outputs":1,"valid":true,"x":350,"y":54,"z":"78c542dc.9f088c","wires":[["95730273.b376d8"]]},{"id":"95730273.b376d8","type":"json","name":"js to json","x":548,"y":54,"z":"78c542dc.9f088c","wires":[["f2edf93f.fd82f"]]},{"id":"6cb64e87.407a78","type":"function","name":"Add details","func":"var accounts = [\n{\"acc_id\":\"0\",\"name\":\"Graham Oakes\",\"sex\":\"m\",\"membersince\":\"2010-01-01\"},\n{\"acc_id\":\"1\",\"name\":\"Jenny Chow\",\"sex\":\"f\",\"membersince\":\"1996-01-21\"},\n{\"acc_id\":\"2\",\"name\":\"Shruti Appiah\",\"sex\":\"f\",\"membersince\":\"2015-01-31\"},\n{\"acc_id\":\"3\",\"name\":\"Shobha Rialkar\",\"sex\":\"f\",\"membersince\":\"2008-05-01\"},\n{\"acc_id\":\"4\",\"name\":\"Emily Peyton\",\"sex\":\"f\",\"membersince\":\"2005-10-31\"}];\nvar tmp = [];\n\nfor\t(var index = 0; index < msg.payload.accounts.length; index++) {\n    var acc_id = msg.payload.accounts[index]\n    tmp.push(accounts[acc_id]);\n}\nmsg.payload.accountsReponse = tmp;\n\nnode.log(\"msg = \" + msg.payload);\n\nreturn msg;","outputs":"1","valid":true,"x":527,"y":222,"z":"78c542dc.9f088c","wires":[["7a30230b.a26544"]]},{"id":"8263e0f8.338998","type":"json","name":"json 2 js","x":338,"y":199,"z":"78c542dc.9f088c","wires":[["6cb64e87.407a78"]]},{"id":"7a30230b.a26544","type":"json","name":"js 2 json","x":714,"y":213,"z":"78c542dc.9f088c","wires":[["898e7100.759ad8"]]},{"id":"b763caa4.976828","type":"comment","name":"Test Flow","info":"","x":81,"y":20,"z":"78c542dc.9f088c","wires":[]},{"id":"432ef9f9.b00de8","type":"comment","name":"Add Account Details Service","info":"","x":119,"y":153,"z":"78c542dc.9f088c","wires":[]},{"id":"98fdf62.2cbf988","type":"comment","name":"Display the response message","info":"","x":143,"y":334,"z":"78c542dc.9f088c","wires":[]},{"id":"9797fb8b.1da21","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":580,"y":372,"z":"78c542dc.9f088c","wires":[]},{"id":"4fea9812.3f5c58","type":"mqlight in","name":"AccountsResponse","topic":"Accounts/Response","share":"","service":"d70b552.2f016a8","x":102,"y":370,"z":"78c542dc.9f088c","wires":[["d9a5bf10.20487"]]},{"id":"56d11ef4.9da948","type":"json","name":"json 2 js","x":314,"y":371,"z":"78c542dc.9f088c","wires":[["7d7c5209.4f1374"]]},{"id":"183b54da.bef7e3","type":"function","name":"log","func":"node.log(\"In\");\n\nreturn msg;","outputs":"1","valid":true,"x":223,"y":268,"z":"78c542dc.9f088c","wires":[["8263e0f8.338998"]]},{"id":"898e7100.759ad8","type":"function","name":"log","func":"node.log(\"Added details\");\nnode.log(\"msg = \" + msg.payload);\n\nreturn msg;","outputs":"1","valid":true,"x":739,"y":306,"z":"78c542dc.9f088c","wires":[["3315a53a.c85822"]]},{"id":"7d7c5209.4f1374","type":"function","name":"log","func":"node.log(\"END\");\nmsg.res=msg.payload;\nreturn msg;","outputs":"1","valid":true,"x":433,"y":413,"z":"78c542dc.9f088c","wires":[["9797fb8b.1da21","2103e4bf.529eec"]]},{"id":"f2edf93f.fd82f","type":"function","name":"log","func":"node.log(\"before publish.  msg = \" + msg.payload);\nreturn msg;","outputs":"1","valid":true,"x":717,"y":119,"z":"78c542dc.9f088c","wires":[["6fe4a033.840168"]]},{"id":"f1d9fbcb.4d7738","type":"http in","name":"http in","url":"/in","method":"get","x":84,"y":95,"z":"78c542dc.9f088c","wires":[["3ef3e0c3.ed5e28"]]},{"id":"8787fd84.ac91a8","type":"function","name":"log","func":"node.log(\"http in: before\");\nnode.log(\"msg = \" + msg);\nnode.log(\"msg.req = \" + msg.req);\nnode.log(\"msg.payload = \" + msg.payload);\nvar T = typeof msg.payload;\nnode.log(\"T:msg.payload = \" + T);\n// msg.payload = {\"accounts\":\"1,2,3\"}\n\nvar dq = msg.payload.split('\"');\nnode.log(\"dq = \" + dq);\nnode.log(\"dq[3] = \" + dq[3]);\nvar accts = dq[3].split(\",\");\nnode.log(\"accts = \" + accts);\n\nmsg.payload = {};\nmsg.payload.accounts = accts;\n\nnode.log(\"http in: after\");\nnode.log(\"msg = \" + msg);\nnode.log(\"msg.payload = \" + msg.payload);\nnode.log(\"msg.payload.accounts = \" + msg.payload.accounts);\n\nreturn msg;","outputs":"1","valid":true,"x":381,"y":98,"z":"78c542dc.9f088c","wires":[["95730273.b376d8"]]},{"id":"d9a5bf10.20487","type":"function","name":"log","func":"node.log(\"msg = \" + msg.payload);\nreturn msg;","outputs":"1","valid":true,"x":231,"y":421,"z":"78c542dc.9f088c","wires":[["56d11ef4.9da948"]]},{"id":"3ef3e0c3.ed5e28","type":"json","name":"json to js","x":235,"y":95,"z":"78c542dc.9f088c","wires":[["8787fd84.ac91a8"]]},{"id":"4d536148.4f8138","type":"http response","name":"","x":744,"y":452,"z":"78c542dc.9f088c","wires":[]},{"id":"2103e4bf.529eec","type":"json","name":"","x":608,"y":434,"z":"78c542dc.9f088c","wires":[["4d536148.4f8138"]]}]